apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: kube-coredns
  namespace: argocd
spec:
  source:
    chart: coredns
    repoURL: https://coredns.github.io/helm
    targetRevision: 1.45.2
  destination:
    name: in-cluster
    namespace: kube-system
  project: default
