apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: cloud-credentials
  namespace: velero
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: vault
    kind: ClusterSecretStore
  target:
    name: cloud-credentials
    template:
      data:
        cloud: "{{ `{{ .cloud }}` }}"
  data:
    - secretKey: cloud
      remoteRef:
        key: "/cloud_credentials"
        property: cloud
